body, html {
    scroll-behavior: smooth;
    margin: 0 auto; /* Center the body horizontally */
    max-width: 700px; /* Set maximum width for the body */
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
    direction: rtl; /* Right-to-left direction */
  }

  .triage-level {
    float:right;
    width: 80%;
    display: grid;
	align-items: center;
    text-align: center
  }

  .triage-caption {
    font-size: 3rem;
    color: black;
    font-weight: 500;
  }

  .triage-sub-caption {
    font-size: 1.5rem;
    color: black;
  }

  .reset-all {
    color: #fff;
    margin: 3px;
  }
  .reset-buttons {
    margin-left: 20px;
    float: left;
	display: grid;
	align-items: center;
  }

  .header {
    /*height: 10dvh;
    background-color: white;*/
  }

  .footer {
    background-color: #FFFFFF;
    color: #81BDEF;
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center; 
    height: 8dvh;
    width: 100%;
    max-width: 700px; /* Set maximum width for the body */
    min-height: 75px;
    position: fixed;
    bottom: 0;
}

.footer-container {
    width: 100%;
}
  
  .footer-menu {
    display: flex;
    align-items: center;
  }

  .helper-table-first-col {

  }

  .footer-button {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    min-width: 80px;
    margin-right: 10px;
    float: right;
    border-radius: 10px;
    border: 2px solid #D0D0D0;
    cursor: pointer;
    height:100%;
  }

  .footer-button .icon {
    font-size: 16px;
  }

  .footer-button .text {
    font-size: 10px;
  }

  .content-triage {
    background-color: #ecf0f1;
    overflow-y: auto;
    text-align: center;
    /*height: min(82vh, calc(100vh - 10vh - 75px));*/ /*applies only when there is header*/
    height: min(92dvh, calc(100dvh - 75px));
  }

  .content-tables {
    background-color: #ecf0f1;
    overflow-y: auto;
    text-align: center;
    height: 92dvh;
  }

  .filters-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 2wh;
  }
  .selected {
    background-color: #ffc107 !important;
  }
  .selected-row {
    background-color: #81BDEF !important;
    color: white;
  }
  .chip {
    background-color: #81BDEF;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }

  .list-conditions {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .badge-triage {
    color: black important!;
  }

  
.searchbox-container {  
    width: 100%;
    margin: 0; /* Center horizontally */
    /* align-items: center; */
    position: relative;
padding: 10px;
}

.closeButtonDiv {
  float: right;
  vertical-align: top; 
  width: 8%;
  height: 100%;
}

.closeButton {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 24px;
        color: #999;
}



.search-input {
    width: 90%;
    padding: 10px;
    float: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-image: url('/assets/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 35px;
    box-sizing: border-box;
  }

  .tables-back-button {
    float: right;
    margin: 5px;    
    cursor: pointer;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
  }
  .tables-back-button:active {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
  }

  .clearfix {
    content: "";
    clear: both;
    display: table;
  }

  .tables-back-button-img {
    width: 30px;
    height: 30px;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }