body, html {
    scroll-behavior: smooth;
    margin: 0 auto; /* Center the body horizontally */
    max-width: 700px; /* Set maximum width for the body */
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
    direction: rtl; /* Right-to-left direction */
    background-color: #F8F8F8;
  }

  .triage-level {
    float:right;
    width: 80%;
    display: grid;
	align-items: center;
    text-align: center
  }

  .triage-caption {
    font-size: 3rem;
    color: black;
    font-weight: 500;
  }

  .triage-sub-caption {
    font-size: 1.5rem;
    color: black;
  }

  .reset-all {
    color: #fff;
    margin: 3px;
  }
  .reset-buttons {
    margin-left: 20px;
    float: left;
	display: grid;
	align-items: center;
  }

  .footer {
    background-color: #FFFFFF;
    color: #81BDEF;
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center; 
    height: 10vh;
}
  
  .footer-menu {
    display: flex;
    align-items: center;
  }

  .header {
    height: 10vh;
  }


  .footer-button {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 10px;
    float: right;
    border-radius: 10px;
    border: 2px solid #D0D0D0;
    cursor: pointer;
    height:100%;
  }

  .footer-button .icon {
    font-size: 16px;
  }

  .footer-button .text {
    font-size: 10px;
  }

  .content {
    background-color: #ecf0f1;
    overflow-y: auto;
    text-align: center;
    height: 75vh;
  }

  .filters-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 2wh;
  }
  .selected {
    background-color: #ffc107 !important;
  }
  .selected-row {
    background-color: #81BDEF !important;
    color: white;
  }
  .chip {
    background-color: #81BDEF;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }

  .list-conditions {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .badge-triage {
    color: black important!;
  }

  
.searchbox-container {  
    width: 100%;
    text-align: center; /* Center-align the content */
    width: 90%; /* Set width to 50% of the screen */
    margin: 0 auto; /* Center horizontally */
    align-items: center;
    position: relative;
}

.closeButton {
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #999;
    cursor: pointer;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f8f8f8;
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 35px;
    box-sizing: border-box;
  }