<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>טריאז' ילדים - אסותא אשדוד</title>
<link rel="icon" href="assets/favicon.svg">
<link rel="stylesheet" href="css/triage.css">
<script src="js/utils.js"></script>
<script src="js/angular.min.js"></script>
<script src="3rd-party/bootstrap/bootstrap.bundle.min.js"></script>
<link href="3rd-party/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="3rd-party/fontawesome/fontawesome-free-6.5.1-web/css/all.min.css">
</head>
<body ng-app="app" ng-controller="TriageController as ctrl">
<div id="triage-main" ng-show="ctrl.dataShown=='TRIAGE'">
  <nav class="navbar navbar-expand-lg header"
      style="{{'background-color: ' + ctrl.colorByLevel[ctrl.triageLevel] }}" >
      <div id="triage-level" class="triage-level">
        <div ng-if="ctrl.triageLevel == 100">
        <span> בחר מצב חולה. לאיפוס, לחץ כאן -> </span>      
        </div>
        <h1 ng-if="ctrl.triageLevel < 100" class="triage-caption"> טריאז' {{ctrl.triageLevel}}</h1>
      </div>
      <div class="reset-buttons">
        <span class="reset-all" ng-click="ctrl.resetAll()"><img style="cursor:pointer; width: 35px; height: 35px;margin-right:10px; " src="assets/refresh.png"></span>
      </div>    
  </nav>
  <div class="container content-triage" >
  <div id="filters" class="filters-group">
      <div ng-repeat="category in ctrl.categories" class="chip" 
        ng-class="{ 'selected': ctrl.selectedCategories.includes(category.categoryId) }"
        ng-click="ctrl.toggleFilter(category.categoryId)">
          {{category.categoryDisplay}}
      </div>      
    </div>
    <div class="list-conditions" id="list-conditions">
      <ol class="list-group" style="padding: 0px;">
        <li class="list-group-item d-flex justify-content-between align-items-center"
          ng-repeat="item in ctrl.triageData"
          ng-show="ctrl.showItem(item)"
          ng-class="{'selected-row' : ctrl.selectedRows.includes(item)}"
          ng-click="ctrl.toggleRow(item)"
        >
          {{item.description}}
          <span class="badge text rounded-pill badge-triage" style="{{'background-color: ' + ctrl.colorByLevel[item.level] }}">{{item.level}}</span>
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="container content-measures" ng-show="ctrl.dataShown=='MEASURES'">
  <div class="measures-back-button" ng-click="ctrl.closeMeasures()">
    <img class="measures-back-button-img" src="assets/back.png" >
  </div>
  <table class="table table-striped" style="margin-top: 30px;">
     <thead>
      <tr>
        <th scope="col">גיל</th>
        <th scope="col">מס' נשימות</th>
        <th scope="col">דופק</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="line in ctrl.validMeasures.breath">
        <th scope="row">{{line.age}}</th>
        <td>{{line.breaths}}</td>
        <td>{{line.heartbit}}</td>
      </tr>
    </tbody>
</table>
<table class="table table-striped">
  <thead>
   <tr>
     <th scope="col">גיל</th>
     <th scope="col">לחץ דם<br>(סיסטולי מינימלי)</th>
   </tr>
 </thead>
 <tbody>
   <tr ng-repeat="line in ctrl.validMeasures.bloodPressure">
     <th scope="row">{{line.age}}</th>
     <td>{{line.bloodPressure}}</td>
   </tr>
 </tbody>
</table>
</div>
<footer class="text-center text-white footer">
  <div class="footer-container">
    <div id="footer-menu" ng-show="!ctrl.searchBarOpen">
      <a id="searchBtn" class="footer-button" ng-click="ctrl.openSearchBar()" ng-touchend="ctrl.openSearchBar()">
        <div style="color: black;"><i class="fa-solid fa-magnifying-glass"></i></div>
        <div class="text">חפש</div>
      </a>
      <a class="footer-button" ng-click="ctrl.openMeasures()">
        <div style="color: black;"><i class="fa-solid fa-syringe"></i></div>
        <div class="text">מדדים</div>
      </a>
    </div>
    <div id="searchbox-container" class="searchbox-container" ng-show="ctrl.searchBarOpen">
      <input type="text" class="search-input" id="searchInput" ng-model="ctrl.searchText" ng-keyup="ctrl.searchTyping($event)" placeholder="חיפוש לפי כל הערכים..">
      <div class="closeButtonDiv">
        <button class="closeButton" ng-click="ctrl.closeSearchBar()">×</button>
      </div>
    </div>
    
  </div>
</footer>
<script src="js/triage.js"></script>
</body>
</html>
