<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>אלח דם - חטיבת ילדים - אסותא אשדוד</title>
<link rel="manifest" href="../common/manifest.json">
<link href="../3rd-party/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../3rd-party/fontawesome/fontawesome-free-6.5.1-web/css/all.min.css">
<link rel="stylesheet" href="../common/css/common.css">
<link rel="stylesheet" href="./eos.css">

<link rel="icon" href="/assets/logo/fav-icon96x96.png">
<meta property='og:title' content="אלח דם, חטיבת ילדים, אסותא אשדוד"/>
<meta property='og:type' content='Article'/>
<meta property="og:image:type" content="image/jpeg" />
<meta property='og:site_name' content='mashlom.me'/>
<meta property='og:image' content='https://assuta.mashlom.me/assets/logo/FullLogo1200x630.jpg'/>
<meta property="og:image:secure_url" content="https://assuta.mashlom.me/assets/logo/FullLogo1200x630.jpg" />
<meta property='og:url' content="https://assuta.mashlom.me/eos"/>
<meta property='og:description' content="מחשבון טיפול באלח דם"/>
<meta name="description" content="מחשבון טיפול באלח דם" />
<meta name="keywords" content="assuta ashdod, רופאים, מחשבונים, רפואת ילדים, יילוד, eos, אסותא אשדוד" />
<meta name="robots" content="index, follow, NOODP" />

</head>
<body ng-app="app" ng-controller="EosController as ctrl" >
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J85BPCEQ2Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-J85BPCEQ2Y');
</script>
<nav class="navbar navbar-expand-lg header">
  <div style="width: 20%;height:100%; text-align: right;">
    <img class="header-assuta-logo" src="../assets/assuta/only-alef.png" >
  </div>
  <div class="header-text">
    <p>
      mashlom.me בשיתוף עם בית<br>
      החולים אסותא אשדוד, חטיבת הילדים
    </p>
  </div>
  <div style="width: 15%;height:100%; text-align: left; vertical-align: middle">
    <img class="header-mashlom-logo" src="../assets/logo/IconOnly_Transparent_NoBuffer.png" >
  </div>
</nav>
<div id="eos-main" class="container main-content eos-main-content">  
<div id="calculator" style="overflow-y: auto;overflow-x: hidden; padding-bottom: 10px;" >
  <div class="group-container">
    <form>
    <div>
        <div class="row form-group">
            <div class="col-auto fs-3 ">
                <h1> אלח דם <span style="font-size: 1rem;">(Early-Onset Sepsis)</span></h1>
            </div>
            <div class="col-auto me-auto reset-button">
                <span ng-click="ctrl.resetAll()"><img style="cursor:pointer; width: 35px; height: 35px;margin-right:10px; " src="../assets/refresh.png"></span>
            </div>        
        </div>
    </div>
      <div class="container">              
        <div class="row form-group">
            <div class="col-auto fs-5  col-auto-text-cols">
                חום אימהי מקסימלי:
            </div>
            <div class="col input-col">
                <input  ng-model-options="{ allowInvalid: true}" inputmode="decimal" type="text" pattern="[0-9]{1,4}[.]{0,1}[0-9]{0,1}" maxlength="5" style="max-width: 90px;" ng-model="ctrl.temprature" 
                        class="form-control" id="temprature" max="45" min="36" select-on-click >
            </div>
        </div>        
        <div class="row form-group">
            <div class="col-auto fs-5  col-auto-text-cols">
                משך הריון
            </div>
            <div class="col input-col">
                <input placeholder="שבועות" ng-model-options="{ allowInvalid: true}" inputmode="decimal" type="text" pattern="[0-9]{0,3}"
                        min="30" max="45" 
                        maxlength="3" style="max-width: 90px;" ng-model="ctrl.pregnancyLengthWeeks" class="form-control" id="pregnancyLengthWeeks" select-on-click > +
                <input placeholder="ימים" ng-model-options="{ allowInvalid: true}" inputmode="decimal" type="text" pattern="[0-9]{0,3}"
                        max="6" min="0" 
                        maxlength="3" style="max-width: 90px;" ng-model="ctrl.pregnancyLengthDays" class="form-control" id="pregnancyLengthDays" select-on-click >
            </div>
        </div>        
        <div class="row form-group">
          <div class="col-auto fs-5  col-auto-text-cols">
              משך פקיעת הקרומים:
          </div>
          <div class="col input-col">
              <input placeholder="שעות" ng-model-options="{ allowInvalid: true}" inputmode="decimal" type="text" pattern="[0-9]{1,4}[.]{0,1}[0-9]{0,1}" maxlength="3" style="max-width: 90px;" ng-model="ctrl.rom" 
                      class="form-control" id="rom" max="150" min="0" select-on-click >
          </div>
      </div>        
      <div class="row form-group">
        <div class="col-auto fs-5  col-auto-text-cols">
            סטטוס GBS:
        </div>
        <div class="col input-col">
          <select class="form-select" id="gps" ng-model="ctrl.gps">
            <option value="positive">חיובי</option>
            <option value="negative">שלילי</option>
            <option value="unknown">לא ידוע</option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-auto fs-5  col-auto-text-cols">
            טיפול אנטיביוטי בלידה:
        </div>
        <div class="col input-col">
          <select class="form-select" id="Approptx" ng-model="ctrl.antibioticTreatment">
            <option value="broad-4">אנטיביוטיקה רחבת טווח מעל 4 שעות לפני הלידה</option>
            <option value="broad-2">אנטיביוטיקה רחבת טווח 2 עד 3.9 שעות לפני הלידה</option>
            <option value="GBS-2">אנטיביוטיקה ספציפית ל-GBS מעל שעתיים לפני הלידה</option>
            <option value="none">ללא טיפול אנטיביוטי, או טיפול אנטיביוטי פחות משעתיים לפני הלידה</option>
        </select>
        </div>
      </div>  
      <div class="calc-button-container">
        <button class="btn calc-button" ng-click="ctrl.computeEOS()">חשב</button>
      </div>

      </div>
    </form>
  </div>
  </div>
</div>  
<footer class="text-center text-white footer" ng-hide="true">
  <div class="footer-container">
    <div id="footer-menu">
      <a class="footer-button" >
        <div class="bottom-menu-color"><i class="fa-solid fa-bed-pulse"></i></div>
        <div class="text">גורמי סיכון</div>
      </a>
    </div>
    <a class="footer-button">
        <div class="bottom-menu-color" ><i class="fa-solid fa-chart-line"></i></div>
        <div class="text">גרף טיפול באור</div>
      </a>
      <a class="footer-button"  >
        <div class="bottom-menu-color"><i class="fa-solid fa-droplet"></i></div>
        <div class="text">גרף החלפת דם</div>
      </a>
      <a class="footer-button" >
        <div class="bottom-menu-color"><i class="fa-solid fa-chart-gantt"></i></div>
        <div class="text">עקומת בוטאני</div>
      </a>
    </div>
  </div>
</footer>
<script src="../3rd-party/angularjs/angular.min.js"></script>
<script src="../3rd-party/bootstrap/bootstrap.bundle.min.js"></script>
<script src="./eos.js"></script>
</body>
</html>