html, body {
    max-width: 700px; /* Set maximum width for the body */
    direction: rtl; /* Right-to-left direction */
    height: 100%;
    scroll-behavior: smooth;
    margin: 0 auto; /* Center the body horizontally */
    padding: 0;
    font-family: Arial, sans-serif;  
}


.group-container .form-group .form-check {
  display: inline-block; /* Ensures form checks are displayed in line */
  margin-right: 1rem; /* Adjust margin between form checks */
}

.cards-container {
    width: 100%; /* Set a width */
    margin: 0 auto; /* Set margin to auto */
}

.form-group {
    margin-top: 20px;
}

.info {
    font-size: 24px;
}
.eos-main-content {        
    /*height: min(82vh, calc(100vh - 10vh - 75px));*/ /*applies only when there is header*/    
    text-align: justify;
}

.input-col {
  padding-right: 0px;
}

.col-auto-text-cols {      
  min-width: 150px;
  padding: 0px;
}

.back-button {
    float: right;
    margin: 5px;    
    cursor: pointer;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
    font-size: 30px;
    color: var(--page-font-color);
  }
  .back-button:active {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
  }

  .back-button-img {
    width: 30px;
    height: 30px;
  }

  .content-risks {    
    text-align: center;
  }

  .risks-header {
    padding-top: 15px;
    padding-left: 80px;
  }

  .risks-container {
    width: 100%;
    padding: 0;
    margin-top: 3dvh;
  }

  .reset-button {
    margin-left: 20px;
	display: grid;
	align-items: center;
    justify-content: left;
  }

  .circle {
    display: inline-block;
    width: 0.65em; /* Set the width and height to be the same as the font size */
    height: 0.65em;
    border-radius: 50%; /* Create a circle using border-radius */    
    margin-left: 10px;
  }

  .calc-button-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .calc-button {    
    background-color: #103C6E;
    color: white;
    width: 100px;
  }

  .calc-button:hover {    
    background-color: #103C6E;
    color: white;
  }

.card-title {
  color: var(--page-font-color) !important;
}

.caption-fs {
  font-size: 0.97rem !important;
  font-weight: 600;
}

.custom-radio {
  position: relative;
  width: 15px;  /* Increase the size if needed */
  height: 15px; /* Increase the size if needed */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #103C6E; /* Make the border thicker */
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  margin-bottom: 3px;
}

.custom-radio:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;  /* Size of the inner circle */
  height: 0px; /* Size of the inner circle */
  background-color: #103C6E;
  border-radius: 50%;
}

.collapse-item {
  cursor: pointer;
}
.green {
  background-color: #d4edda; /* Green */
}
.yellow {
  background-color: #fff3cd; /* Yellow */
}
.red {
  background-color: #f8d7da; /* Red */
}
.collapse-item .card-body {
  text-align: right; /* Align text to the right */
}
.collapse-item .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.collapse-item .btn {
  width: calc(100% - 40px); /* Adjust width to make room for the icon */
  text-align: right; /* Align text to the right */
}
@media (max-width: 576px) {
  .collapse-item .icon {
    left: 5px;
  }  
}

.card-body {
  color: var(--page-font-color); 
}

.eos-per-condition {
  font-weight: bolder;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E5FFFA;
}
.modal-title {
  flex-grow: 1;
  text-align: right;
  font-size: 1rem; /* Adjust font size to fit */
}
.btn-close {
  margin-left: auto;
  position: absolute;
  left: 10px;
}

.subpage-header {
  padding-top: 15px;
  padding-left: 80px;
}

.paragraph-title {
  text-decoration: underline;
  font-weight: bold;
}