<!DOCTYPE html>
<html lang="he" dir="rtl">
<html lang="he" dir="rtl">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>אלח דם - חטיבת ילדים - אסותא אשדוד</title>
<link rel="manifest" href="../common/manifest.json">
<link href="../3rd-party/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../3rd-party/fontawesome/fontawesome-free-6.5.1-web/css/all.min.css">
<link rel="stylesheet" href="../common/css/common.css">
<link rel="stylesheet" href="./eos.css">

<link rel="icon" href="/assets/logo/fav-icon96x96.png">
<meta property='og:title' content="אלח דם, חטיבת ילדים, אסותא אשדוד"/>
<meta property='og:type' content='Article'/>
<meta property="og:image:type" content="image/jpeg" />
<meta property='og:site_name' content='mashlom.me'/>
<meta property='og:image' content='https://assuta.mashlom.me/assets/logo/FullLogo1200x630.jpg'/>
<meta property="og:image:secure_url" content="https://assuta.mashlom.me/assets/logo/FullLogo1200x630.jpg" />
<meta property='og:url' content="https://assuta.mashlom.me/eos"/>
<meta property='og:description' content="מחשבון טיפול באלח דם"/>
<meta name="description" content="מחשבון טיפול באלח דם" />
<meta name="keywords" content="assuta ashdod, רופאים, מחשבונים, רפואת ילדים, יילוד, eos, אסותא אשדוד" />
<meta name="robots" content="index, follow, NOODP" />

</head>
<body ng-app="app" ng-controller="EosController as ctrl" >
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J85BPCEQ2Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-J85BPCEQ2Y');
</script>
<nav class="navbar navbar-expand-lg header">
  <div style="width: 20%;height:100%; text-align: right;">
    <img class="header-assuta-logo" src="../assets/assuta/only-alef.png" >
  </div>
  <div class="header-text">
    <p>
      mashlom.me בשיתוף עם בית<br>
      החולים אסותא אשדוד, חטיבת הילדים
    </p>
  </div>
  <div style="width: 15%;height:100%; text-align: left; vertical-align: middle">
    <img class="header-mashlom-logo" src="../assets/logo/IconOnly_Transparent_NoBuffer.png" >
  </div>
</nav>
<div id="eos-main" class="container main-content eos-main-content">  
<div id="calculator" ng-show="ctrl.page == 'CALCULATOR'" style="overflow-y: auto;overflow-x: hidden; padding-bottom: 10px;" >
  <div class="group-container">
    <div>
        <div class="row form-group">
            <div class="col-auto fs-3 ">
                <h1> אלח דם <span style="font-size: 1.05rem;">(Early-Onset Sepsis)</span></h1>
            </div>
            <div class="col-auto me-auto reset-button">
                <span ng-click="ctrl.resetAll()"><img style="cursor:pointer; width: 35px; height: 35px;margin-right:10px; " src="../assets/refresh.png"></span>
            </div>        
        </div>
    </div>
      <div class="container">              
        <div class="row form-group">
            <div class="col-auto caption-fs  col-auto-text-cols d-flex align-items-center">
                חום אימהי מקסימלי:
            </div>
            <div class="col input-col">
                <input  ng-model-options="{ allowInvalid: true}" inputmode="decimal" type="text" pattern="[0-9]{1,4}[.]{0,1}[0-9]{0,1}" maxlength="5" style="max-width: 90px;" ng-model="ctrl.temprature" 
                        class="form-control" id="temprature" max="45" min="36" select-on-click >
            </div>
        </div>        
        <div class="row form-group">
            <div class="col-auto caption-fs col-auto-text-cols d-flex align-items-center">
                משך הריון:
            </div>
            <div class="col input-col">
              <div class="row">
                <div class="col-6 col-md-3" style="padding-left: 0px;margin-left: 10px;max-width: 100px;">
                  <input placeholder="שבועות" ng-model-options="{ allowInvalid: true}" inputmode="decimal" type="text" pattern="[0-9]{0,3}"
                          min="30" max="45" 
                          maxlength="3" style="max-width: 90px;" ng-model="ctrl.pregnancyLengthWeeks" class="form-control" id="pregnancyLengthWeeks" select-on-click >
                </div>
                <div class="col-6 col-md-3" style="padding-right: 0px;max-width: 100px;">
                  <input placeholder="+ ימים" ng-model-options="{ allowInvalid: true}" inputmode="decimal" type="text" pattern="[0-6]{0,1}"
                          max="6" min="0" 
                          maxlength="3" style="max-width: 90px;" ng-model="ctrl.pregnancyLengthDays" class="form-control" id="pregnancyLengthDays" select-on-click >
                  </div>
                </div>
            </div>
        </div>        
        <div class="row form-group">
          <div class="col-auto caption-fs  col-auto-text-cols d-flex align-items-center">
              משך פקיעת הקרומים:
          </div>
          <div class="col input-col">
              <input placeholder="שעות" ng-model-options="{ allowInvalid: true}" inputmode="decimal" type="text" pattern="[0-9]{1,4}[.]{0,1}[0-9]{0,1}" maxlength="3" style="max-width: 90px;" ng-model="ctrl.rom" 
                      class="form-control" id="rom" max="150" min="0" select-on-click >
          </div>
      </div>        
      <div class="row form-group">
        <div class="col-auto caption-fs  col-auto-text-cols d-flex align-items-center">
            סטטוס GBS:
        </div>
        <div class="col input-col" style="max-width: 200px;">
          <select class="form-select" id="gbs" ng-model="ctrl.gbs">
            <option value="positive">חיובי</option>
            <!-- <option value="negative">שלילי</option> -->
            <option value="unknown">שלילי או לא ידוע</option>
          </select>
        </div>
      </div>          

      <div class="row form-group">
        <div class="col-auto caption-fs col-auto-text-cols d-flex align-items-center">
          טיפול אנטיביוטי בלידה: <i class="fa-solid fa-circle-question" style="margin-right: 10px;" data-bs-toggle="modal" data-bs-target="#infoAntibiotics"></i>
        </div>
      </div>
      <div class="modal fade" id="infoAntibiotics" tabindex="-1" aria-labelledby="infoAntibioticsLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <h5 class="modal-title" id="infoAntibioticsLabel">הטיפול אנטיביוטי</h5>
            </div>
            <div class="modal-body">
              <ul>
                <li>במידה והאם קבלה כיסוי טרום לידתי עם אמפיצילין וגנטאמיצין או צפטריאקסון בלבד יש להזין שניתנה אנטיביוטיקה רחבת טווח לאם תוך התייחסות למספר שעות טרם לידה שהטיפול ניתן.</li>
                <li>אם האם קבלה טיפול מסוג beta Lactams  - להזין "אנטיביוטיקה ספציפית ל-GBS", במידה וניתן לפחות שעתיים טרם לידה.</li>
                <li>אם האם לא קבלה תכשירי מסוג beta Lactams או קבלה כיסוי אנטיביוטי פחות משעתיים טרם לידה יש לבחור באפשרות "ללא טיפול אנטיביוטי". </li>
              </ul> 
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col input-col">
          <div class="row mb-2">
            <div class="col-auto d-flex align-items-center">
              <input class="form-check-input custom-radio" type="radio" id="broad-4" ng-model="ctrl.antibioticTreatment" value="broad-4">
            </div>
            <div class="col">
              <label class="form-check-label" for="broad-4">
                אנטיביוטיקה רחבת טווח מעל 4 שעות לפני הלידה
              </label>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-auto d-flex align-items-center">
              <input class="form-check-input custom-radio" type="radio" id="broad-2" ng-model="ctrl.antibioticTreatment" value="broad-2">
            </div>
            <div class="col">
              <label class="form-check-label" for="broad-2">
                אנטיביוטיקה רחבת טווח 2 עד 3.9 שעות לפני הלידה
              </label>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-auto d-flex align-items-center">
              <input class="form-check-input custom-radio" type="radio" id="GBS-2" ng-model="ctrl.antibioticTreatment" value="GBS-2">
            </div>
            <div class="col">
              <label class="form-check-label" for="GBS-2">
                אנטיביוטיקה ספציפית ל-GBS מעל שעתיים לפני הלידה
              </label>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-auto d-flex align-items-center">
              <input class="form-check-input custom-radio" type="radio" id="none" ng-model="ctrl.antibioticTreatment" value="none">
            </div>
            <div class="col">
              <label class="form-check-label" for="none">
                ללא טיפול אנטיביוטי, או טיפול אנטיביוטי פחות משעתיים לפני הלידה
              </label>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- <div class="calc-button-container">
        <button class="btn calc-button" ng-disabled="!ctrl.allValuesSatisfied()" ng-click="ctrl.computeEOS()">חשב</button>
      </div> -->
      <div id="result" ng-if="ctrl.computeEOS()">
        <div class="cards-container row row-cols-1 row-cols-md-1 g-4" >
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div id="eos" class="card-title" style="text-align: center;"><span style="font-size: 1.1rem">סיכון לאלח דם מוקדם:</span>
                  <span style="font-size: 1.5rem; font-weight: bold;"> {{ctrl.eosString}} </span><span style="font-size: 1.1rem">לאלף לידות</span></div>                               
              </div>
            </div>
          </div>
        </div>

        <div class="container mt-4">
          <div class="accordion" id="accordionExample" style="width: 100%;">
            <div class="card">
              <div class="card-header collapse-item position-relative" ng-class="{'green' : ctrl.eosPerClinicalCondition['Well Appearing'] < 1,
                                                                                  'yellow' : ctrl.eosPerClinicalCondition['Well Appearing'] >= 1 && ctrl.eosPerClinicalCondition['Well Appearing'] < 3,
                                                                                  'red' : ctrl.eosPerClinicalCondition['Well Appearing'] >= 3}" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <b>תינוקות אסימפטומטיים (Well Appearing)</b>
                      <ul>
                        <li>סיכון של {{ctrl.eosPerClinicalCondition['Well Appearing']}} לאלף לידות</li>
                        <li>{{ctrl.getClinicalRecommendation('Well Appearing')}}</li>
                        <li>{{ctrl.getTrackingRecommendation('Well Appearing')}}</li>
                      </ul>                       
                  </button>
                  <i class="fa-solid fa-circle-info icon" data-bs-toggle="modal" data-bs-target="#infoModal1"></i>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="card-body">
                  <clinical-recommendation condition="Well Appearing"></clinical-recommendation>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header collapse-item position-relative" ng-class="{'green' : ctrl.eosPerClinicalCondition['Equivocal'] < 1,
                      'yellow' : ctrl.eosPerClinicalCondition['Equivocal'] >= 1 && ctrl.eosPerClinicalCondition['Equivocal'] < 3,
                      'red' : ctrl.eosPerClinicalCondition['Equivocal'] >= 3}" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <b>תינוקות עם סימפטומים לא ספציפיים לאלח-דם (Equivocal)</b>
                    <ul>
                      <li>סיכון של {{ctrl.eosPerClinicalCondition['Equivocal']}} לאלף לידות</li>
                      <li>{{ctrl.getClinicalRecommendation('Equivocal')}}</li>
                      <li>{{ctrl.getTrackingRecommendation('Equivocal')}}</li>
                    </ul>
                  </button>
                  <i class="fa-solid fa-circle-info icon" data-bs-toggle="modal" data-bs-target="#infoModal2"></i>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="card-body">
                  <clinical-recommendation condition="Equivocal"></clinical-recommendation>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header collapse-item position-relative" id="headingThree" ng-class="{'green' : ctrl.eosPerClinicalCondition['Clinical Illness'] < 1,
              'yellow' : ctrl.eosPerClinicalCondition['Clinical Illness'] >= 1 && ctrl.eosPerClinicalCondition['Clinical Illness'] < 3,
              'red' : ctrl.eosPerClinicalCondition['Clinical Illness'] >= 3}">
                <h5 class="mb-0">
                  <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <b>תינוקות עם סימנים משמעותיים (Clinical Illness)</b>
                    <ul>
                      <li>סיכון של {{ctrl.eosPerClinicalCondition['Clinical Illness']}} לאלף לידות</li>
                      <li>{{ctrl.getClinicalRecommendation('Clinical Illness')}}</li>
                      <li>{{ctrl.getTrackingRecommendation('Clinical Illness')}}</li>
                    </ul>
                  </button>
                  <i class="fa-solid fa-circle-info icon" data-bs-toggle="modal" data-bs-target="#infoModal3"></i>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="card-body">
                  <clinical-recommendation condition="Clinical Illness"></clinical-recommendation>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<div class="modal fade" id="infoModal1" tabindex="-1" aria-labelledby="infoModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="modal-title" id="infoModalLabel1">תינוקות אסימפטומטיים</h5>
      </div>
      <div class="modal-body">
        תינוקות עם בדיקה גופנית תקינה.
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="infoModal2" tabindex="-1" aria-labelledby="infoModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="modal-title" id="infoModalLabel2">תינוקות עם סימפטומים לא ספציפיים לאלח-דם</h5>
      </div>
      <div class="modal-body">
        
        הפרעה בודדת שהנמשכת מעלה 4 שעות :         
          <ul>
            <li>טכיקרדיה: דופק >.160</li>
            <li>טכיפניאה: נשימות >.60</li>
            <li>חוסר יציבות בחום הגוף: חום פחות מ-C.36.4</li>
            <li>סימני מצוקה נשימתית (אנחות, רתיעות בין צלעיות, נשימת כנפי אף) ללא צורך בתוספת חמצן.</li>
          </ul>
          <b>או</b><br/><br/>
          הפרעה בשני סימנים או יותר שנמשכים יותר משעתיים:
            <ul>
              <li>טכיקרדיה: דופק >160</li>
              <li>טכיפניאה: נשימות >60</li>
              <li>חוסר יציבות בחום הגוף: חום פחות מ-C.36.4</li>
              <li>סימני מצוקה נשימתית (אנחות, רתיעות בין - צלעיות, נשימת כנפי אף) ללא צורך בתוספת    חמצן.</li>
            </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="infoModal3" tabindex="-1" aria-labelledby="infoModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="modal-title" id="infoModalLabel3">תינוקות עם סימנים משמעותיים</h5>
      </div>
      <div class="modal-body">        
          <ul>
            <li>צורך בהמשך תמיכה נשימתית פולשנית או לא פולשנית מחוץ לחדר לידה/ חדר ניתוח</li>
            <li>חוסר יציבות המודינמית, כולל צורך בטיפול תרופתי</li>
            <li>מצב נוירולוגי לא תקין: אנצפלופטיה בילוד,  היפוטוניה,  חוסר תגובה לגירוי, או פרכוסים</li>
            <li>אפגר נמוך מ5 בגיל 5 דקות</li>
            <li>צורך בהעשרת חמצן למשך יותר משעתיים לאחר הלידה לשמירה על ריווי חמצן מעל 90%</li>
            <li>חום גוף התינוק מעל 38.0</li>
          </ul>
      </div>
    </div>
  </div>
</div>
<!---->
    </div>
  </div>
<instructions ng-show="ctrl.page == 'INSTRUCTIONS'"></instructions> 
<antibiotics ng-show="ctrl.page == 'ANTIBIOTIC_TREATMENT'"></antibiotics> 
</div> 
<footer class="text-center text-white footer" >
  <div class="footer-container">
    <a class="footer-button" ng-click="ctrl.openPanel('INSTRUCTIONS')">
      <div class="bottom-menu-color" ><i class="fa-solid fa-chalkboard-user"></i></div>
      <div class="text">הוראות שימוש</div>
    </a>
      <a class="footer-button" ng-click="ctrl.openPanel('ANTIBIOTIC_TREATMENT')">
        <div class="bottom-menu-color"><i class="fa-solid fa-thermometer"></i></div>
        <div class="text">טיפול אנטיביוטי</div>
      </a>
    </div>
  </div>
</footer>
<script src="../3rd-party/angularjs/angular.min.js"></script>
<script src="../3rd-party/bootstrap/bootstrap.bundle.min.js"></script>
<script src="./eos.js"></script>
</body>
</html>