<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>טריאז' מיון - מחלקת ילדים - אסותא אשדוד</title>
<link rel="manifest" href="../common/manifest.json">
<link rel="stylesheet" href="../common/css/common.css">
<link rel="stylesheet" href="css/triage.css">
<script src="../common/js/utils.js"></script>
<script src="../3rd-party/angularjs/angular.min.js"></script>
<script src="../3rd-party/bootstrap/bootstrap.bundle.min.js"></script>
<link href="../3rd-party/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../3rd-party/fontawesome/fontawesome-free-6.5.1-web/css/all.min.css">

<link rel="icon" href="/assets/logo/fav-icon96x96.png">
<meta property='og:title' content="טריאז' מיון, מחלקת ילדים, אסותא אשדוד"/>
<meta property='og:type' content='Article'/>
<meta property="og:image:type" content="image/jpeg" />
<meta property='og:site_name' content='mashlom.me'/>
<meta property='og:image' content='/assets/logo/FullLogo1200x630.jpg'/>
<meta property='og:url' content="https://assuta.mashlom.me/triage"/>
<meta property='og:description' content="טריאז' מיון ילדים"/>
<meta name="description" content="טריאז' מיון ילדים" />
<meta name="keywords" content="assuta ashdod, רופאים, מחשבונים, רפואת ילדים, טריאז', אסותא אשדוד, Pediatric Canadian Triage" />
<meta name="robots" content="index, follow, NOODP" />

</head>
<body ng-app="app" ng-controller="TriageController as ctrl">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J85BPCEQ2Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-J85BPCEQ2Y');
</script>
<div id="triage-main" ng-show="ctrl.dataShown=='TRIAGE'">
  <nav class="navbar navbar-expand-lg header"
      style="{{'background-color: ' + ctrl.colorByLevel[ctrl.triageLevel] }}; display:none;" >
      <div id="triage-level" class="triage-level">
        <div ng-if="ctrl.triageLevel == 100">
        <span> בחר מצב חולה. לאיפוס, לחץ כאן -> </span>      
        </div>
        <h1 ng-if="ctrl.triageLevel < 100" class="triage-caption"> טריאז' {{ctrl.triageLevel}}</h1>
      </div>
      <div class="reset-buttons">
        <span class="reset-all" ng-click="ctrl.resetAll()"><img style="cursor:pointer; width: 35px; height: 35px;margin-right:10px; " src="../assets/refresh.png"></span>
      </div>    
  </nav>
  <div class="container main-content" >
  <div id="filters" class="filters-group">
      <div ng-repeat="category in ctrl.categories" class="chip" 
        ng-class="{ 'selected': ctrl.selectedCategories.includes(category.categoryId) }"
        ng-click="ctrl.toggleFilter(category.categoryId)">
          {{category.categoryDisplay}}
      </div>      
    </div>
    <div class="list-conditions" id="list-conditions">
      <ol class="list-group" style="padding: 0px;">
        <li class="list-group-item d-flex justify-content-between align-items-center"
          ng-repeat="item in ctrl.triageData | toArray | orderBy:'level':true"
          ng-show="ctrl.showItem(item)"
          ng-class="{'selected-row' : ctrl.selectedRows.includes(item)}"
          ng-click="ctrl.toggleRow(item)"
        >
          {{item.description}}
          <span class="badge text rounded-pill badge-triage" style="{{'background-color: ' + ctrl.colorByLevel[item.level] }};font-size:1rem;">{{item.level}}</span>
        </li>
      </ol>
    </div>
  </div>
</div>
<measures-table ng-show="ctrl.dataShown=='MEASURES'" ></measures-table>
<helper-tables ng-show="ctrl.dataShown=='HELPER_TABLES'" ></helper-tables>
<footer class="text-center text-white footer">
  <div class="footer-container">
    <div id="footer-menu" ng-show="!ctrl.searchBarOpen">
      <a id="searchBtn" class="footer-button" ng-click="ctrl.openSearchBar()" ng-touchend="ctrl.openSearchBar()">
        <div style="color: black;"><i class="fa-solid fa-magnifying-glass"></i></div>
        <div class="text">חפש</div>
      </a>
      <a class="footer-button" ng-click="ctrl.openMeasures()">
        <div style="color: black;"><i class="fa-solid fa-syringe"></i></div>
        <div class="text">מדדים</div>
      </a>
      <a class="footer-button" ng-click="ctrl.openHelperTables()">
        <div style="color: black;"><i class="fa-solid fa-user-doctor"></i></div>
        <div class="text">טבלאות עזר</div>
      </a>
    </div>
    <div id="searchbox-container" class="searchbox-container" ng-show="ctrl.searchBarOpen">
      <input type="text" class="search-input" id="searchInput" ng-model="ctrl.searchText" ng-keyup="ctrl.searchTyping($event)" placeholder="חיפוש לפי כל הערכים..">
      <div class="closeButtonDiv">
        <button class="closeButton" ng-click="ctrl.closeSearchBar()">×</button>
      </div>
    </div>    
  </div>
</footer>
<script src="js/triage.js"></script>
</body>
</html>
