<div>
סיכון לאלף לידות: <span class="eos-per-condition">{{getRisk()}}</span> <br>

<div ng-if="getRisk() < 1">
    יש לבצע מעקב שגרתי:
    <ul>
        <li>סימנים חיוניים אחת למשמרת.</li>
        <li>בדיקת רופא ילדים נוספת בין  גיל 12 ל- 24 שעות.</li>
        <li>בדיקה נוספת בכל החמרה במצב או תוצאת סימנים חיוניים חריגה.</li>
        <li ng-if="tooHighTemprature()">אם לאם היה חום מעל 39, יש לקחת את התינוק לבירור ספסיס, ולתת טיפול אנטיביוטי</li>
    </ul>
    יש לציין את ערך הסיכון המשוקלל בגיליון היילוד.        
</div>
<div ng-if="getRisk() < 3">
        <ul>
          <li>יש לבצע מעקב קליני:
            <ul>
                <li>סימנים חיוניים כל 4 שעות.</li>
                <li>בדיקת רופא פעמיים ביום ביממה הראשונה לחיים, ובהמשך לפי הערכה קלינית.</li>
                <li>בדיקה נוספת בכל החמרה במצב קליני או תוצאת סימנים חיוניים חריגה.</li>
            </ul>
        </li>
        <li>יש לקחת תרבית.</li>
        <li ng-if="tooHighTemprature()">אם לאם היה חום מעל 39, יש לקחת את התינוק לבירור ספסיס, ולתת טיפול אנטיביוטי</li>
        <li>להפעיל שיקול קליני כוללני בייעוץ עם רופא בכיר.</li>        
      </ul>
</div>
<div ng-if="getRisk() >= 3">
    <ul>
     <li>יש לבצע מעקב קליני:
          <ul>
              <li>סימנים חיוניים כל 4 שעות.</li>
              <li>בדיקת רופא פעמיים ביום ביממה הראשונה לחיים, ובהמשך לפי הערכה קלינית.</li>
              <li>בדיקה נוספת בכל החמרה במצב קליני או תוצאת סימנים חיוניים חריגה.</li>
          </ul>
      </li>
      <li ng-if="tooHighTemprature()">אם לאם היה חום מעל 39, יש לקחת את התינוק לבירור ספסיס, ולתת טיפול אנטיביוטי</li>
      <li>התוויה לבירור.</li>
      <li>נדרש טיפול אנטיביוטי אמפירי.</li>
    </ul>
</div>

</div>