<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>צהבת ביילוד - חטיבת ילדים - אסותא אשדוד</title>
<link rel="manifest" href="../common/manifest.json">
<link href="../3rd-party/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../3rd-party/fontawesome/fontawesome-free-6.5.1-web/css/all.min.css">
<link rel="stylesheet" href="../common/css/common.css">
<link rel="stylesheet" href="css/phototherapy.css">

<link rel="icon" href="/assets/logo/fav-icon96x96.png">
<meta property='og:title' content="צהבת ביילוד, חטיבת ילדים, אסותא אשדוד"/>
<meta property='og:type' content='Article'/>
<meta property="og:image:type" content="image/jpeg" />
<meta property='og:site_name' content='mashlom.me'/>
<meta property='og:image' content='https://assuta.mashlom.me/assets/logo/FullLogo1200x630.jpg'/>
<meta property="og:image:secure_url" content="https://assuta.mashlom.me/assets/logo/FullLogo1200x630.jpg" />
<meta property='og:url' content="https://assuta.mashlom.me/phototherapy"/>
<meta property='og:description' content="מחשבון טיפול בצהבת ביילוד"/>
<meta name="description" content="מחשבון טיפול בצהבת ביילוד" />
<meta name="keywords" content="assuta ashdod, רופאים, מחשבונים, רפואת ילדים, צהבת, יילוד, עקומת בוטאני, phototherapy, אסותא אשדוד" />
<meta name="robots" content="index, follow, NOODP" />

</head>
<body ng-app="app" ng-controller="PhototherapyController as ctrl" >
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J85BPCEQ2Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-J85BPCEQ2Y');
</script>
<nav class="navbar navbar-expand-lg header">
  <div style="width: 20%;height:100%; text-align: right;">
    <img class="header-assuta-logo" src="../assets/assuta/only-alef.png" >
  </div>
  <div class="header-text">
    <p>
      mashlom.me בשיתוף עם בית<br>
      החולים אסותא אשדוד, חטיבת הילדים
    </p>
  </div>
  <div style="width: 15%;height:100%; text-align: left; vertical-align: middle">
    <img class="header-mashlom-logo" src="../assets/logo/IconOnly_Transparent_NoBuffer.png" >
  </div>
</nav>
<div id="phototherapy-main" class="container main-content phototherapy-main-content">  
<div id="calculator" style="overflow-y: auto;overflow-x: hidden; padding-bottom: 10px;" ng-show="ctrl.dataShown=='CALCULATOR'" >
  <div class="group-container">
    <form>
    <div>
        <div class="row form-group">
            <div class="col-auto fs-3 ">
                <h1>צהבת ביילוד</h1>
            </div>
            <div class="col-auto me-auto reset-button">
                <span ng-click="ctrl.resetAll()"><img style="cursor:pointer; width: 35px; height: 35px;margin-right:10px; " src="../assets/refresh.png"></span>
            </div>        
        </div>
    </div>
      <div class="container">
        <div class="row form-group">
            <div class="col-auto fs-5  col-auto-buttons-cols">
                שבוע לידה:
            </div>
            <div class="col-auto input-col">
                <button type="button" class="btn btn-outline-secondary" ng-class="{ 'checked-button': ctrl.weekOfBirth == 'above38' }" ng-click="ctrl.selectWeekOfBirth('above38')">+38</button>
                <button type="button" class="btn btn-outline-secondary" ng-class="{ 'checked-button': ctrl.weekOfBirth == 'under38' }" ng-click="ctrl.selectWeekOfBirth('under38')">35-37</button>
            </div>            
          </div>
        <div class="row form-group">
            <div class="col-auto fs-5  col-auto-buttons-cols">
                 גורם סיכון
                 <i style="cursor: pointer;vertical-align: top;" ng-click="ctrl.openRiskyConditions()" class="fa-solid fa-circle-info fs-5 info"></i>
                 :
            </div>
            <div class="col-auto input-col" >
                <button type="button" class="btn btn-outline-secondary" ng-class="{ 'checked-button': ctrl.hasRiskFactors }" ng-click="ctrl.selectRiskFactor(true)">קיים</button>
                <button type="button" class="btn btn-outline-secondary" ng-class="{ 'checked-button': !ctrl.hasRiskFactors }" ng-click="ctrl.selectRiskFactor(false)">לא קיים</button>
            </div>
        </div>        
        <div class="row form-group">
            <div class="col-auto fs-5  col-auto-text-cols">
                בילירובין (mg/dl):
            </div>
            <div class="col input-col">
                <input ng-change="ctrl.changedValue()" ng-model-options="{ allowInvalid: true}" inputmode="decimal" type="text" pattern="[0-9]{1,4}[.]{0,1}[0-9]{0,1}" maxlength="4" style="max-width: 90px;" ng-model="ctrl.bilirubin" class="form-control" id="bilirubin" max="50" select-on-click >
            </div>
        </div>        
        <div class="row form-group">
            <div class="col-auto fs-5  col-auto-text-cols">
                גיל (שעות):
            </div>
            <div class="col input-col">
                <input ng-change="ctrl.changedValue()" ng-model-options="{ allowInvalid: true}" inputmode="decimal" type="text" pattern="[0-9]{0,3}" maxlength="3" style="max-width: 90px;" ng-model="ctrl.ageInHours" class="form-control" id="ageInHours" select-on-click >
            </div>
        </div>        
      </div>
    </form>
  </div>
  <div class="cards-container row row-cols-1 row-cols-md-1 g-4" >
    <div class="col">
      <div class="card">
        <div class="card-body" ng-show="ctrl.allInputsSatisfied()">
          <h3 class="card-title"><span class="circle" ng-style="ctrl.statusColor"></span>{{ctrl.rootDiagnose}} </h3>
          <p ng-show="ctrl.riskZoneSatisfied()" class="card-text">היילוד <span>{{ctrl.riskZoneObj['percentileString']}}</span> באיזור סיכון <span>{{ctrl.riskZoneObj['riskZone']}}</span>.<br> {{ctrl.riskZoneObj['explanation']}}.
          <h4 ng-show="ctrl.shouldShowConsiderTransfusion()" class="card-title">יש לשקול החלפת דם, נדרש ייעוץ כונן</h4>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<graphs ng-show="ctrl.dataShown=='PHOTOTHERAPY_GRAPH'" ></graphs>
<graphs ng-show="ctrl.dataShown=='EXCHANGE_TRANSFUSION_GRAPH'"></graphs>
<graphs ng-show="ctrl.dataShown=='GRAPH_BUTANI'"></graphs>
<risks ng-show="ctrl.dataShown=='RISKS'" ></risks>
</div>  
<footer class="text-center text-white footer">
  <div class="footer-container">
    <div id="footer-menu">
      <a class="footer-button" ng-click="ctrl.openRiskyConditions()">
        <div class="bottom-menu-color"><i class="fa-solid fa-bed-pulse"></i></div>
        <div class="text">גורמי סיכון</div>
      </a>
    </div>
    <a class="footer-button" ng-click="ctrl.openGraph('PHOTOTHERAPY_GRAPH', 'assets/phototherapy-treatment-graph.png')">
        <div class="bottom-menu-color" ><i class="fa-solid fa-chart-line"></i></div>
        <div class="text">גרף טיפול באור</div>
      </a>
      <a class="footer-button" ng-click="ctrl.openGraph('EXCHANGE_TRANSFUSION_GRAPH', 'assets/exchange-transfusion-38.png', 'assets/exchange-transfusion-under-38.png')" >
        <div class="bottom-menu-color"><i class="fa-solid fa-droplet"></i></div>
        <div class="text">גרף החלפת דם</div>
      </a>
      <a class="footer-button" ng-click="ctrl.openGraph('GRAPH_BUTANI', 'assets/butani-updated.png', '')">
        <div class="bottom-menu-color"><i class="fa-solid fa-chart-gantt"></i></div>
        <div class="text">עקומת בוטאני</div>
      </a>
    </div>
  </div>
</footer>
<script src="../3rd-party/angularjs/angular.min.js"></script>
<script src="../3rd-party/bootstrap/bootstrap.bundle.min.js"></script>
<script src="js/calculation.js"></script>
<script src="js/phototherapy.js"></script>
</body>
</html>